body {
  background-color: #e9eaf0;
}

h1 {
  font-family: Helvetica;
}

h2 {
  font-family: Georgia;
  color: #894742;
}

em {
  font-family: Georgia;
  font-size: 1.2em;
  color: #894742;
}

i {
  font-family: Georgia;
  color: #55527C;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: underline;
  color: gray;
}

a:hover {
  text-decoration: none;
  background-color: #E3CBC1;
}

a:active {
  text-decoration: underline;
  color: #894742;
}

div.h {
    border-bottom-style: solid;
    border-color: black;
    padding-bottom: 15px;
    letter-spacing: 0.1em;
    line-height: 50%;
}
div.p {
  width: 700px;
  padding:80px;
  border: 2px solid black;
  margin-left: 500px;
  margin-top: 100px;
}

ul {
  font-family: Helvetica;
  font-size: 1em;
  letter-spacing: 0.09em;
  line-height: 130%;
  list-style-type: none;
}
